{{#if details.errorMessage}}
  <div class="mt-2">
    <div class="alert alert-danger error-container">
      <div class="error-title mb-2">{{fa-icon icon="exclamation-triangle" fixedWidth=true class="error-icon"}} Error
        Running Dig
      </div>
      <div class="error-text">{{details.errorMessage}}</div>
    </div>
    <button type="button" class="p-btn btn btn-sm btn-secondary retry-btn mt-2"{{action "retryLookup"}}>
      {{#if running}}
        {{fa-icon icon="spinner-third" fixedWidth=true spin=true}}
      {{else}}
        Retry Search
      {{/if}}
    </button>
    <div class="mt-1">
      <span class="p-footnote"> You can retry your search by pressing the "Retry Search" button.</span>
    </div>
  </div>
{{else if details.domainNotFound}}
  <div>
    Domain not found
  </div>
{{else if details.reverseDnsNotFound}}
  <div>
    No Answer data for IP Address {{block.entity.value}}
  </div>  
{{else}}
  <div>
    <span class="p-key">Server: </span>
    <span class="p-value">{{details.server}}</span>
  </div>

  <ul class="nav nav-tabs mt-2">
    {{#if (gt details.totalAnswers 0)}}
      <li class="nav-item">
        <a {{action "changeTab" "answer"}} class="nav-link active" href="#">Answer ({{details.totalAnswers}})</a>
      </li>
    {{/if}}
  </ul>

  <div class="scrollable-block">
    {{#each details.answer.__order as | type |}}
      {{#let (get details.answer type) as | answer |}}
        <div class="answer-type-container">
          <div class="sticky-title p-title {{if (and (eq answer.results.length 0) answer.searched)
                                                "no-result-title"}} {{if answer.__show "open"}}" {{action
                  "toggleAnswerType" type}}>
            <div class="d-flex justify-content-between w-100">
              <div class="d-flex align-items-center">
                {{#if answer.searched}}
                  {{fa-icon icon="album-collection" fixedWidth=true}} {{type}} Records
                  ({{answer.results.length}})
                {{else if answer.__searching}}
                  {{fa-icon icon="spinner-third" spin=true fixedWidth=true}}
                {{else}}
                  {{fa-icon icon="search" fixedWidth=true}} {{type}} Records
                  (click to run search)
                {{/if}}
              </div>
              <div class="d-flex align-items-center">
                {{#if answer.elapsedTime}}
                  <div class="p-footnote mr-1">
                    {{answer.elapsedTime}} ms
                  </div>
                {{/if}}
                {{#if answer.__show}}
                  {{fa-icon icon="chevron-up" fixedWidth=true}}
                {{else}}
                  {{fa-icon icon="chevron-down" fixedWidth=true}}
                {{/if}}
              </div>
            </div>
          </div>
          {{#if answer.__show}}
            {{#if answer.__searching}}
              <div class="answer-container">
                {{fa-icon icon="spinner-third" spin=true fixedWidth=true}} Searching ...
              </div>
            {{/if}}
            {{#if (and (eq answer.results.length 0)(not answer.__searching))}}
              <div class="answer-container">
                No data returned
              </div>
            {{/if}}
            {{#each answer.results as | result |}}
              <div class="answer-container">
                {{#if (or (eq type "A")(eq type "AAAA"))}}
                  <div class="d-flex align-items-center justify-content-between text-break">
                    <div>
                      {{result.address}}
                    </div>
                    <div class="p-footnote">
                      TTL: {{result.ttl}} seconds
                    </div>
                  </div>
                {{else if (eq type "MX")}}
                  <div>
                    <span class="p-key">Exchange:</span>
                    <span class="p-value">{{result.exchange}}</span>
                  </div>
                  <div>
                    <span class="p-key">Priority:</span>
                    <span class="p-value">{{result.priority}}</span>
                  </div>
                {{else if (eq type "SOA")}}
                  <div>
                    <span class="p-key">Name Server:</span>
                    <span class="p-value">{{result.nsname}}</span>
                  </div>
                  <div>
                    <span class="p-key">Hostmaster:</span>
                    <span class="p-value">{{result.hostmaster}}</span>
                  </div>
                  <div>
                    <span class="p-key">Serial:</span>
                    <span class="p-value">{{result.serial}}</span>
                  </div>
                  <div>
                    <span class="p-key">Refresh:</span>
                    <span class="p-value">{{result.refresh}}</span>
                  </div>
                  <div>
                    <span class="p-key">Retry:</span>
                    <span class="p-value">{{result.retry}}</span>
                  </div>
                  <div>
                    <span class="p-key">Expire:</span>
                    <span class="p-value">{{result.expire}}</span>
                  </div>
                  <div>
                    <span class="p-key">Minimum Time to Live (TTL):</span>
                    <span class="p-value">{{result.minttl}}</span>
                  </div>
                {{else}}
                  <div class="text-break">
                    {{result}}
                  </div>
                {{/if}}
              </div>
            {{/each}}
          {{/if}}
        </div>
      {{/let}}
    {{/each}}
  </div>
{{/if}}

